@charset "UTF-8";

body{
	margin: 0;
	font-family:'Open Sans', sans-serif;
	line-height: 1.5;
}

.container{
	margin-right:auto;
	margin-left: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 980px;
}

.btn{
	padding: 15px 40px;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: red;
	font-weight: 600;
	font-size: 1em;	
	margin-right: 15px;
	display: inline-block;
}

.btn:hover{
	background-color: #929DA5;
	transition: background .5s ease;
}

.btn-default{
	background-color: #455357;
	color: #FFF;

}

.btn-secundary{
	background-color: #63C6AE;
	color: #FFF;
}

img{
	max-width: 100%;
}

.header{
	background-color: #FFF;
	width: 100%;
}

.js .header{
	position: fixed;
	width: 100%;
	z-index: 4;
}

.header__logo-text{
	text-transform: uppercase;
	background-color: #63C6AE;
	font-size: 24px;
	margin: 0;
	padding: 20px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	float: left;
	letter-spacing: 2px;
}

.header__btn-menu{
	float: right;
	margin: 1.5em;
	background-color: transparent;
	border:none;
	font-size: 14px;
}

.header__nav{
	clear:left;
}

.js .header__nav{
	transition: max-height 1s;
}

.js .laptop-slider, .js .quote-container{
	overflow: hidden;
	color:#FFF;
}

.js .laptop-slider .slideshow, .js .quote-container .quote-slideshow{
	position: relative;
	width: 100%;
	margin: auto;
	max-width: 950px;
}

.js .laptop-slider figure, .js .quote-container figure{
	opacity: 0;
	transition: 1s opacity;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.js .laptop-slider figure.show, .js .quote-container figure.show{
	opacity: 1;
	position: static;
}

.js .laptop-slider .prev, .js .laptop-slider .next, .js .quote-container .prev, .js .quote-container .next{
	z-index: 3;
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.js .laptop-slider .prev, .js .quote-container .prev{
	left: 5px;
}

.js .laptop-slider .next, .js .quote-container .next{
	right: 5px;
}

.header__nav ul{
	margin: 0;
	padding: 0;
}

.header__nav li{
	list-style: none;
	background-color: #242C2C;
	text-align: center;
	border-bottom: 1px dotted rgba(255,255,255,.2);
}

.header__nav a{
	text-decoration: none;
	text-transform: uppercase;
	color:#586165;
	display: block;
	padding: 25px 0;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	transition: color .5s ease;
}

.header__nav a:hover{
	color:#63C6AE;
}

.hero{
	height: 80vh;
	padding: 40px 20px;
	text-align: center;
	background:linear-gradient(-45deg, #FFF 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
	linear-gradient(45deg, #FFF 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, 
	url(../img/01.jpg) center;
	background-size:40px 40px,40px 40px, cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__title{
	background-color: #63C6AE;
	text-transform: uppercase;
	color:#FFF;
	font-size: 28px;
	font-weight: 600;
	padding: 30px 20px;
}

.hero__text{
	background-color: #242A2C;
	margin:5px 30px 35px;
	color:#FFF;
	padding: 20px;
	font-size: 16px;
}

.hero__btn{
	background-color: rgba(0,0,0,.5);
	border:1px solid rgba(255,255,255,.3);
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 25px;
	display: inline-block;
	color:#FFF;
	transition: all .5s ease;
}

.hero__btn:hover{
	color:#63C6AE;
	background-color: rgba(0,0,0,.8);
}

.people-cards{
	margin-top: 2.5em;
}

.people-cards__card:hover{
	outline:5px solid #63C6AE;
	outline-offset: -5px;
}

.people-cards:hover .people-cards__text, .people-cards:hover .people-cards__title{
	color:#63C6AE;
}

.people-cards__card:hover .people-cards__avatar img{
	transform: translateY(-50%);
}

.people-cards__img{
	width:100%;	
}

.people-cards__avatar{
	margin: -55px auto;
	width: 88px;
	height: 88px;
	overflow: hidden;
}

.people-cards__content{
	text-align: center;
	padding: 40px 25px 10px;
	border-left: 1px solid #DBE1E7;
}

.people-cards__title{
	color:#757C85;
	font-size: 21px;
	font-weight: normal;
}

.people-cards__text{
	color:#929DA5;
	font-size: 14px;
}

.content{
	background-color: #F8F9F9;
	padding: 20px 0 80px;
	border-top: 1px solid #E3E3E3;
}

.content h3{
	color:#737C85;
	font-size: 21px;
	padding-top: 40px;
	font-weight: 600;
	word-spacing: 3px;
}

.content p{
	color:#929DA5;
	font-size:14px;
	word-spacing: 3px;
}

.last-articles__title{
	background-color: #63C6AE;
	color:#FFF;
	padding: 5px 0;
}

.last-articles__title h2{
	font-size: 24px;
	color:#FFF;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

.last-articles__thumbs{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: auto;
	grid-gap: 0;

}

.last-articles__thumbs img{
	display: block;
	width: 100%;
}

.laptop-slider{
	background-color: #455357;
	padding: 125px 0 100px;
	width: 100%;
	overflow: auto;
}

.slideshow{
	white-space: nowrap;
}

.slideshow figure{
	display: inline-block;
}

.quote-container{
	background-color: #63C6AE;
	padding: 50px 0;
	border-bottom: 12px solid #48B9A1;
}

.quote-slideshow h2{
	color:#FFF;
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
}

.quote-slideshow figcaption{
	font-size: 18px;
	color: #FFF;
	text-align: center;
}

.no-js .quote-slideshow figure + figure{
	margin-top: 5em;
}

.footer{
	background-color: #242A2C;
	padding: 50px 0 250px;
	color:#454E51;
	font-size: 1em;
}

.footer__links li{
	list-style:none;
}

.footer__links a{
	color:#454E51;
	display: block;
	text-decoration: none;
	font-weight: 600;
}
.footer .container > h2{
		text-transform: uppercase;
		transition:color .5s ease;
}

.footer .container > h2:hover{
	color:#63C6AE;
}

@media screen and (min-width: 1024px){
	.header{
		position: fixed;
	}

	.header__logo-text{
		width: 25%;
		text-align: right;
		box-sizing: border-box;
	}

	.header__nav{
		float: left;
		width: 75%;
		max-width: 800px;
		clear:none;
	}
	.header__nav ul{
		display: flex;
		justify-content: space-around;
	}

	.header__nav li{
		border:none;
		flex-grow: 1;
	}

	.header__nav a{
		background-color: #FFF;
	}

	.people-cards{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
	}

	/*.content article{
		width: 50%;
		float: left;
	}

	.last-articles{
		clear: left;
	}*/

	.content .container{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 30px;
	}

	.last-articles__thumbs{
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
	}

	.footer .container{
		display: flex;
		flex-direction: row;
	}

	.footer .container > * {
		margin: 1.5em;
	}

	
}